# ===============================

# 🔹 Python Virtual Environment

# ===============================

.venv/
venv/
env/

# ===============================

# 🔹 Python Cache Files

# ===============================

**pycache**/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# ===============================

# 🔹 Machine Learning Models

# ===============================

*.pkl
*.joblib

# ===============================

# 🔹 Dataset Files

# ===============================


# ===============================

# 🔹 Logs & Temp Files

# ===============================

*.log
catboost_info/

# ===============================

# 🔹 OS / System Files

# ===============================

.DS_Store
Thumbs.db

# ===============================

# 🔹 Screenshots (Optional)

# ===============================


# ===============================

# 🔹 IDE / Editor Files

# ===============================

.vscode/
.idea/

# ===============================

# 🔹 Environment Variables (IMPORTANT)

# ===============================

.env

# ===============================

